@import './type';
@import './theme';

@import './components//button';
@import './components/dice-list';
@import './components/menu';
@import './components//game';
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/pattern-bg.svg');
    overflow-x: hidden;
}
main {
    // perspective: 40em;
    // -webkit-perspective: 40em;
    
    min-height: 80vh;
    min-width: 400px;
    padding: 2em 1em;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: hsl(var(--sandstone-hue), var(--sandstone-sat), 30%);
    position: relative;
    > * {
        position: relative;
    }
    
    border-radius: 4%;
    &::before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width:auto;
        aspect-ratio: 1 / 1.3;
        background-image: url('../../assets/images/tablet-cartoon.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 0;
    }
    @media screen and (max-height: 900px) {
        background-size: cover;
    }
    @media screen and (max-width: 400px) {
        min-width: 0px;
    }
}

#github {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    width: 1em;
    height: 1em;
    color: inherit;
}